/* Type */

body {
	background-color: #e6aae8;
	color: #e6aae8;
	font-family: sans-serif;
	line-height: 1;
    font-size: 25em;
    overflow: hidden;
}

main {
    transform: skew(36deg, 19deg);
}

.letter-1 {
	font-family: 'Satisfy', cursive;
	position: absolute;
	top: 0.5em;
	text-shadow: 20px 20px #c6eaf7;
}

.letter-2 {
	font-family: 'Satisfy', cursive;
    position: absolute;
    top: 1.35em;
    transform: rotate(180deg);
    left: 0.2em;
    text-shadow: -20px -20px #c6eaf7;
}

.something-else {
    position: absolute;
    color: white;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    transform: scaleX(6.5) rotate(90deg);
    bottom: 0;
    right: -510px;
}









